# ===== Python =====
__pycache__/
*.py[cod]

# ===== Environnements virtuels =====
.venv/
venv/
ENV/
*.egg-info/
dist/
build/

# ===== OS / Editors =====
.DS_Store
.vscode/
.idea/

# ===== Certificats & secrets =====
certs/*.key
certs/*.pem
certs/*.p12
*.key
*.env
v1_not_secure/secret.txt
v1_not_secure/receive_secret.txt

# ===== Captures / rapports générés =====
captures/
rapport/*.pdf
